{% if page.copyright != false %}
<div style="margin-top:2em;padding:0 1.5em;border:1px solid #d3d3d3;background-color:#deebf7">
  <h3>Documentation Information</h3>
  <ul>
    <li>Author<a href="{{ site.url }}" target="_blank">{{ site.author }}</a></li>
    <li>URL<a href="{{ site.url }}{{ page.url }}" target="_blank">{{ site.url }}{{ page.url }}</a></li>
    <li>(Copyright: Free Reprint - Non-Commercial - Non-Derivative - Attribution Maintenance<a href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh" target="_blank">Creative Commons 3.0 license</a>)</li>
  </ul>
</div>
{% endif %}
